[[source]]
name = 'pypi'
url = 'https://pypi.org/simple'
verify_ssl = true

[requires]
python_version = '3.6'

[packages]
attrs = '*'
click = '~=7.0'
packaging = '*'
requests = '*'

[dev-packages]
flake8 = '*'
invoke = '*'
m2r = '*'
pytest = '*'
pytest-mock = '*'
pytest-pythonpath = '*'
restview = '*'
sphinx = '*'
sphinx-autobuild = '*'

[scripts]
pythonup = 'python -m pythonup'
